/* debug */

.debug .col{
    
    border: 1px dashed;
}


/* utilities */

.my_bg_primary{

    background-color: #1abc9c;
}

.my_bg_secondary{
    background-color: #2c3e50;
}

.my_bg_red{
    background-color: #ba4b63;
}

.my_bg_lighter_blu{
    background-color: #1ea4b6;
}

.my_bg_light_blu{
    background-color: #1c83c1;
}

.my_bg_blu{
    background-color: #0e38b5;
}

.my_bg_footer_top{
    background-color: #3a546d;
}

.max100{
    max-width: 100%;
}

.color_white{
    color: white;
}

.colore_black{
    color: black;
}
/* header */

.navbar-toggler-icon{
  filter: invert(0.7);  
}

/* start_bootstrap */

.left_star,
.right_star{
    height: 5px;
    width: 100px;
    background-color: white;
}

/* portfolio */

.left_star_black,
.right_star_black{
    height: 5px;
    width: 100px;
    background-color: black;
}


/* responsive layout */

@media screen and (max-width: 768px){
    .start_bootstrap h3{
        font-size: 1.25rem;
    }
}